emacs.d/session
emacs.d/lisp/*.el
emacs.d/lisp/session
emacs.d/lisp/*.gz
emacs.d/auto-save-list
ido.last
*~
emacs.d/session.*
.claude/


emacs.d/init/private-*.el
gitconfig.private
emacs.d/elpa/
emacs.d/recentf
emacs.d/url/cookies

zsh/compdump
zsh/history

__pycache__

pi/*
!pi/agent/
pi/agent/*
!pi/agent/extensions/
!pi/agent/extensions/**

